*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.img{
    height: 100%;
    width: 100%;
}
.img-card{
    width: 200px;
    height: 200px;
}
body {
    min-height: 100vh;
}

#nav {
    position: fixed;
    height: 5rem;
    background-color: black;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    z-index: 2;
}

#nav-img {
    width: 12rem;
}

#nav-img img {
    width: 100%;
    cursor: pointer;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

#nav-links a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

#nav-links a:hover {
    color: rgb(155, 152, 152);
}

#nav-input {
    background-color: rgb(18, 18, 18);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    padding-right: 1rem;
    justify-content: center;
    width: 16rem;
}

#input {
    background-color: rgb(18, 18, 18);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

#input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(193, 193, 193);
}

#nav-cart {
    display: flex;
    align-items: center;
    gap: 0;
}

.contenedor-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 100%;
    padding: 5px;
    position: relative;
}

#span-cart{
    position: absolute;
    color: white;
    border-radius: 10px;
    background-color: #494949;
    top: 0;
    left: 0;
    padding-right: 4px;
    padding-left: 4px;
}

.carrito-articulos {
    position: absolute;
    box-shadow: -2px 0px 5px black;
    right: -36rem;
    margin-top: 5rem;
    top: 0;
    gap: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    background-color: white;
    transition: all 0.3s;
}



#div-titulo-carrito {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: rgb(202, 202, 202);

}

#titulo-carrito {
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
}


#articulos {
    display: flex;
    flex-direction: column;
}

#listaArticulos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 50vh;
    overflow: auto;
}

.li {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 1rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(202, 202, 202);
    position: relative;
}

.borrar-articulo {
    position: absolute;
    right: 1rem;
}

#imagen-articulo {
    width: 80px;
    height: 80px;
}

#descripcion-articulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div-precio-articulos {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

#div-btn-articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#div-btn-articulos a {
    color: rgb(29, 29, 29);
}

#btn-pedidos {
    background-color: black;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}


#svg-buscar {
    fill: rgb(193, 193, 193);
    cursor: pointer;
}


.svg {
    fill: rgb(193, 193, 193);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#busqueda {
    position: absolute;
    top: 4rem;
    color: black;
    background-color: white;
    right: 83px;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 50rem;
}

.busqueda-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#ul-busqueda-productos{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-height: 25rem;
    overflow: auto;
}



.li-busqueda{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    width: 50%;
}


.li-busqueda:hover{
    background-color: #ececec;
}


.text-gray-busqueda{
    color: #a2a2a2;
    font-weight: 600;
}

.descripcion-busqueda{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.busqueda-titulo-gris{
    color: #6e6d6d;
    font-weight: 600;
}

.img-busqueda{
    width: 80px;
    height: 65px;
}

.displaynone{
    display: none;
}

.displayflex{
    display: flex;
}



#contenedor{
    min-height: 100vh;
    padding-top: 5rem;
}

#section-titulo{
    height: 7rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f3efef;
}

#titulo{
    padding-left: 3rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    height: 100%;
}

#titulo a{
    text-decoration: none;
    color: rgb(22, 21, 21);
}

.flecha-derecha{
    width: 16px;
    height: 16px;
}

#section-descripcionZapato{
    padding-top: 3rem;
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
}

#div-imagen{
    width: 50%;
    height: 100%;
}

#div-descripcion{
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


#span-precio{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(60, 60, 60);
}

#descripcion-tallas{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#div-tallas{
    display: flex;
    gap: 0.8rem;
}

#span-talla{
    color: rgb(60, 60, 60);
    margin-bottom: 9px;
}
.btn-talla{
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid rgb(190, 190, 190);
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}


.btn-talla:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#descripcion-btn{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#div-boton-numero{
    display: flex;
}

#btn-suma {
    padding: 9px;
    height: 100%;
    width: 100%;
    fill: white;
    background-color: black;
    cursor: pointer;
    border: 0;
    transition: all 0.3s ease-in-out;
}

#btn-suma:hover {
    background-color: #000000ba;
}

#div-btn-suma{
    width: 2.8rem;
}

#div-btn-resta{
    width: 2.8rem;
}

#btn-suma svg {
    height: 100%;
    width: 100%;
}

#btn-resta svg {
    height: 100%;
    width: 100%;
}

#btn-resta:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

#btn-resta {
    padding: 9px;
    height: 100%;
    width: 100%;
    fill: white;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0;
}

#btn-resta:hover {
    background-color: #000000ba;
}

#input-numero{
    padding: 0.8rem;
    border: none;
    width: 10rem;
    border-bottom: 1px solid #80808042;
    border-top: 1px solid #80808042;
    background-color: white;
    text-align: center;
    outline: none;
    font-size: 1rem;
}

#btn-agregar{
    padding: 0.8rem;
    width: 16rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}

#btn-agregar:hover{
    background-color: rgb(54, 54, 54);
}

.informacion{
    cursor: pointer;
    height: 4rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.informacion:hover{
    background-color: #00000017;
}

.informacion-titulo{
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid #808080ed;
}
.svg-mas-informacion{
    height: 16px;
}

.mas-info{
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 25px;
}

.lista-informacion{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


#section-sugerencias{
    padding-top: 3rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-sugerencias h1{
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 1rem
}


#slider{
    height: 20rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.card-sugerencia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 2rem;
    padding-left: 2rem;
}

.card-sugerencia h2{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
 }
 
.card-sugerencia p{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1rem;
    color: #8c8c8c;
  }

  #slider-btn-left{
    position: absolute;
    top: 50%;
    left: 5px;
    width: 2rem;
    background-color: rgb(0, 0, 0);
    fill: white;
    border-radius: 50%;
    display: flex;
}


#slider-btn-left svg{
    width: 100%;
    height: 100%;
}

#slider-btn-right{
    position: absolute;
    top: 50%;
    right: 10px;
    width: 2rem;
    background-color: rgb(0, 0, 0);
    fill: white;
    border-radius: 50%;
    display: flex;
}

#slider-btn-right svg{
    width: 100%;
    height: 100%;
}

#footer{
    display: flex;
    padding: 3rem;
    justify-content: space-around;
    background-color: black;
    gap: 1rem;
    margin-top: 2.5rem;
}

.footer-description{
    color: white;
    padding: 1rem;
    width: 100%;
}

.footer-description h1{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.listItem-footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    color: rgb(158, 157, 157);
}

.li-footer{
    cursor: pointer;
    transition: 0.3s;
}

.li-footer:hover{
   color: #E9501C;
}

#btn-registro{
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    background-color: #E9501C;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#btn-registro:hover{
    background-color: #c9461a;
}

#h1-descripcion{
    font-size: 1.8rem;
}


#nav-telefono-lupa {
    display: none;
}

#svg-menu-telefono {
    display: none;
}

#busqueda-telefono {
    background-color: #f1f1f1;
    min-height: 100vh;
    position: absolute;
    top: 0;
    color: black;
    right: 0px;
    left: 0;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
}


#ul-busqueda-productos-telefono {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-height: 27rem;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
}

#div-borrar-buscador {
    display: flex;
    justify-content: end;
    font-size: 1.25rem;
    color: black
}

#input-telefono {
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 50rem;
    border: 1px solid rgb(161, 158, 158);
    outline: none;
}

#input-telefono:focus {
    border: 2px solid rgb(245, 150, 77);
}

#div-borrar-buscador {
    width: 2rem;
    height: 2rem;
}

#div-input-telefono {
    display: flex;
    gap: 1rem;
    align-items: center;
    fill: #6e6d6d;
}

#svgBorrarSugerencias {
    width: 100%;
    height: 100%;
}

.links-telefono {
    top: 5rem;
    position: absolute;
    left: -13rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: all 0.4s;
}

.links-telefono a {
    padding: 1rem;
}

.sin-resultados {
    padding: 1rem;
}

#span-cart-telefono {
    position: absolute;
    color: white;
    border-radius: 10px;
    background-color: #494949;
    top: 0;
    left: 0;
    padding-right: 4px;
    padding-left: 4px;
}

#titulo-filtrarPor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}


#titulo-filtrarPor svg{
    width: 2rem;
}

#contenedor-filtros-telefono{
    display: none;
}

#div-filtro-telefono{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    background-color: #0000003d;
}

#divtituloFitro{
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}

#filtros-telefono{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    width: 80%;
    position: absolute;
    right: 0;
    padding: 1rem;
    height: 100vh;
}


#cerrar-filtros{
    width: 20%;
    position: relative;
}


#btnCerrarFiltro{
    position: absolute;
    right: 0;
    padding: 0.8rem;
    border: none;
    background-color: #777777;
    font-size: 1.5rem;
    color: #fbfbfb;
}


/* CLASES JS */

.activado{
    opacity: 1;
    padding: 1rem;
    visibility: visible;
    height: 100%;
}  

.cart-activado {
    right: 0;
    left: 50%;
    opacity: 1;
}

.seleccionado{
    background-color: black;
    color: white;
}


.menu-visible {
    left: 0;
    width: 100%;
}




@media (max-width: 769px) {
    #section-descripcionZapato {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #titulo {
        padding-left: 1rem;
    }
}

@media (max-width: 900px) {


    #nav-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #nav-img img {
        width: 12rem;
        cursor: pointer;
    }

    #nav-telefono-lupa {
        display: flex;
    }

    .li-busqueda {
        width: 100%;
    }

    #nav {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    #nav-cart {
        display: none;
    }


    #svg-menu-telefono {
        width: 2.5rem;
        height: 2.5rem;
        display: block;
    }

    #nav-input {
        display: none;
    }

    .cart-activado {
        left: 0;
    }

    #links-escritorio {
        display: none;
    }

    #img-contenedor {
        flex-direction: column;
    }

    #footer {
        flex-direction: column;
        padding: 1rem;
    }
}

@media (max-width: 350px) {
  #div-tallas{
    gap: 5px;
    flex-wrap: wrap;
  }
  .contenedor-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 100%;
    position: relative;
    padding: 0;
}

#span-cart-telefono {
    left: -5px;
    top: -5px;
}
#nav-img img {
    width: 10rem;
}
}

@media (max-width: 650px) {
    #section-descripcionZapato{
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #div-descripcion{
        width: 100%;
        padding: 0;
    }
    #div-imagen{
        width: 100%;
    }
    #h1-descripcion{
        font-size: 1.5rem;
    }
}